.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:35px;
	background-color:#000;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	
}

.my-float{
	margin-top:22px;
}

.float:hover {
	color:#FFF;
	background-color:rgb(85, 85, 85);
	box-shadow: 2px 2px 3px rgb(85, 85, 85);
}

